*~
TeX-Match-Linux/target
TeX-Match-Linux/build-dir
TeX-Match-Linux/.flatpak-builder
TeX-Match-Linux/generated-sources.json
TeX-Match-Linux/repo
TeX-Match-Linux/tex-match.flatpak
TeX-Match-Linux/*.snap