[Desktop Entry]
Name=TeX Match
Comment=Search through over 1000 different LaTeX symbols by sketching
Type=Application
Exec=tex-match
Terminal=false
Categories=Utility;GTK;
Keywords=GTK;Tools;
Icon=fyi.zoey.TeX-Match
StartupNotify=true