[Desktop Entry]
Name=TeX Match
Comment=Search through over 1000 different LaTeX symbols by sketching
Type=Application
Exec=tex-match
Terminal=false
Categories=Utility;GTK;
Keywords=GTK;Tools;
Icon=${SNAP}/meta/gui/tex-match.svg
StartupNotify=true